ul{
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

li{
    /* float: left;  */
    display: inline-block;
}

li a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: aqua;
}